*{
    margin:0px;
    padding:0px;
}
body{
    font-family: 'Lobster Two', cursive;
    font-family: 'Marcellus', serif;
}
h1{
    font-size: 48px;
    text-align: center;
    font-family: 'Lobster Two', cursive;
    font-family: 'Marcellus', serif;
    margin-bottom: 50px;
    margin-top: 20px;
}
.container{
    
    width:60%;
    height:100%;
    margin: auto;
    font-family: 'Lobster Two', cursive;
    font-family: 'Marcellus', serif;
    line-height: 25px;
    
}
img{
    width:100%;
    height:60vh;
}
.inside{
  width:40%;
  height:30vh;

}
p{
    margin-top: 20px;
}
.images{
    width:100%;
    height:100vh;
    text-align: center;
    margin-top: 40px;
}
.examplerow{
    display: flex;
    flex-direction: column;
    width:100%;
    height: 100vh;
    margin-top: 20px;
    justify-content: space-between;

}
.examplecol{
    
    width:90%;
    height:80%;
    margin:10px;
    box-sizing: border-box;
    box-shadow: 10px 10px 20px #ccc,
                 -10px -10px 20px #fff;
}
.roadmap{
   position: relative;
   width:100%;
   height:80vh;
   display: flex;
   align-items: center;
   justify-content:center ;

}
.btn2{
    width: 10%;
    height:40px;
    position: absolute;
    top:5%;
    right:5%;
    cursor: pointer;
   

}
.imgg{
    width:100%;
    height:50vh;
    display: flex;
   align-items: center;
   justify-content:center ;
}

.btn1{
    width: 10%;
    height:40px;
    position: absolute;
    top:5%;
    left:5%;
    cursor: pointer;
    border-width:3px ;
    border-color: linear-gradient(to left,#ff4432,#ff);
}
iframe{
   width:80%;
   height:50%; 
}
h2{
    margin-top: 40px;
    text-align: center;
}

}
@media (max-width:480px) {
    .container{
        width: 90%;
    }
    .imgg{
        height:40vh;
    }
    .container img{
        height:40vh;
    }
    h2{
        margin-top: 150px;
    }
    button{
        display: none;
    }
    
}