*{
margin: 0px;
padding: 0px;
}
.header{
    width:100%;
    height:100vh;
    background-color:#252954;
    position: relative;
    color:white;
    font-family: 'Lobster Two', cursive;
    font-family: 'Marcellus', serif;
    overflow: hidden;
}
.nav{
    width:50%;
    height:60px;
    position: absolute;
    right: 0px;
    top:1rem;
    background: #252954;
    
}
.nav ul{
    height:100%;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    font-family: 'Lobster Two', cursive;
    font-family: 'Marcellus', serif;
}
.nav ul li{
    position: relative;
    cursor: pointer;
    color:white;
    font-size: 1rem;
}
.nav ul li::after{
    content: "";
    width:0%;
    height:3px;
    display: block;
    position: absolute;
    top:1.4rem;
    background-color: #f44336;
}
.nav ul li:hover::after{
    width:100%;
    transition: 1s;
}
.headingtext{
  
    position: absolute;
    left:20%;
    top:50%;
    transform: translate(-20%,-50%);
    text-align: center;
    font-family: 'Lobster Two', cursive;
    font-family: 'Marcellus', serif;
}
.header h1{
   
    font-family: 'Lobster Two', cursive;
    font-family: 'Marcellus', serif;
    font-size: 6rem;
    margin-bottom: 40px;
}

.logo{
    margin-left:10px;
    position: absolute;
    top:10px;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
}
.logo img{
    width:50px;
    height:50px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
    animation: move 1s linear infinite;
    
}
::-webkit-scrollbar{
    width:15px;
}
::-webkit-scrollbar-track{
    background:linear-gradient(to bottom ,rgb(13, 56, 73),#1877f2,#1877f2,#1877f2);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: red;
   border-radius: 10px;
}
.pic{
    width:25vw;
    height:50vh;
    position: absolute;
    top:25%;
    right:10%;
    border-radius: 50%;
}
.body1{
    width:80%;
    height:100vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.body1 .subpart{
    width:20%;
    margin-top: 50px;
    height:90vh;
    box-sizing: border-box;
    box-shadow:  10px 10px 22px #a8a8a8,
    -10px -10px 22px #ffffff;
}
.body1 .subpart ul{
    list-style-type: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.body1 .subpart ul li{
    cursor: pointer;

}
.menu{
    display: none;
}
.mobilenav{
    width:100%;
    height:230px;
    background-color: rgb(22, 13, 71);
    display: none;
}
.mobilenav ul{
 display: flex; 
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  width:100%;
}
.mobilenav ul li{
     width:100%;
    display: flex; 
    padding:5px;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    font-weight: bold;
}
.body1 .main{
    width:75%;
    height:90vh;
    background-color: #9b9ca7;
    margin-top: 50px;
    box-sizing: border-box;
    box-shadow:  10px 10px 22px #a8a8a8,
    -10px -10px 22px #ffffff;

}
.grade{
    position: absolute;
    top:80%;
    left:15%;
    transform: translate(-15%,-80%);
    text-align: center;
}
.grade h2{
    font-size: 38px;
}
.grade h3{
    font-size: 32px;

}
@media (max-width:480px) {
    .nav{
        display: none;
    }
    .mobilenav{
        display:flex;
        position: fixed;
        top:-260px;
        cursor:pointer;
        transition: 1s;
        z-index: 10;
    }
    .mobilenav.active{
        position: sticky;
        top:60px;
    }
    .mobilenav ul{
        display: flex; 
         flex-direction: column;
         align-items: center;
         list-style-type: none;
        margin:auto;
    }
    .menu{
        display:flex ;
        width:30px;
        justify-content: center;
        align-items: center;
        height:30px;
        background-color: rgb(225, 215, 250);
        position: absolute;
        right:30px;
        top:15px;
        
    }
    .logo{
        height: 60px;
        margin-left: 0px;
        width:100%;
        background-color: #05162c;
        position: absolute;
        top:0px;
        left:0px;
    }
    .pic{
        width:35vw;
        height:20vh;
        position: absolute;
        top:15%;
        right:5%;
        border-radius: 50%;
    }
    .header h1{
   
        font-family: 'Lobster Two', cursive;
        font-family: 'Marcellus', serif;
        font-size: 2rem;
        margin-bottom: 20px;
        text-align: center;
    }
    .body1{
        width:95%;
    }
    .body1 .subpart{
        width:33%;
        margin-top: 50px;
        height:90vh;
        box-sizing: border-box;
        box-shadow:  10px 10px 22px #a8a8a8,
        -10px -10px 22px #ffffff;
    }
    
    .body1 .subpart ul{
        list-style-type: none;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .body1 .subpart ul li{
        cursor: pointer;
        font-size:0.8rem;
        
    
    }
    .headingtext{
        text-align: center;
    }
    .headingtext h3{
        font-size: 0.8rem;
    }
}