:root{
    --shadow-top:#e7dfdf;
    --shadow-bottom:#ffffff;
    --text-col-white:green;
    font-size: 15px;
}
*{
    margin:0;
    padding:0px;
}

header{
    width:100%;
    min-height:700px;
    background-color: #330000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23D18'/%3E%3Cstop offset='1' stop-color='%23330000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
body{
    font-family: 'Open Sans', sans-serif;
}
nav{
    width:100%;
    height:5em;
    box-sizing: border-box;
    background-color: white; 
    position: fixed;
    z-index:10;
    
    /* box-shadow:  1em 1em 2em var(--shadow-top),
    -1em -1em 2em  var(--shadow-bottom); */
}
nav ul{
    height:100%;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;  
}
nav ul li{
    position: relative;
    cursor: pointer;
    font-size: 1.1em;
}
nav ul li::after{
    content: "";
    width:0%;
    height:3px;
    display: block;
    position: absolute;
    top:26px;
    background-color: #f44336;
}
nav ul li:hover::after{
    width:100%;
    transition: 1s;
}
h1{
    font-size:4rem ;
    width:0;
    vertical-align: center;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    top:50%;
    color:white;
    left:10%;
    border-right: 0.01em solid rgb(190, 6, 6);
    animation:typing 2s infinite forwards,blink-caret .75s step-end infinite;  
}
.h-100{
    height:100% !important
}
.image{
    position: absolute;
    left:50%;
    top:30%;
}
.image img{
    max-width:100%;
    max-height:45%;
}
@keyframes typing{
    from {
        width:0;
    }
    to {
        width:5.3em;
    }
}
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(212, 65, 7); }
  }
section{
    width:100%;
    height:700px;
    position: relative;
}
section h2{
    margin-top: 4rem;
    font-size:2.5rem;
    text-align: center;  
}
.side-image img{
    width:50%;
    max-width: 40%;
    position: absolute;
    left:8%;
    top:50%;
    transform: translate(-10%,-50%);
}
.definitions-info{
    width:min(600px,50%);
    height:75%;
    box-sizing: border-box;
    box-shadow: 2rem 2rem 3rem rgb(214, 214, 214),
               -2rem -2rem 3rem white;
    position: absolute;
    right:10%;
    top:2%;
    transform: translate(10%,2%);
    background-color: #ffffff;
    font-size: 1em;
    margin-top: 4rem;
    color:black;
    line-height: 1.7rem;
    padding: 1.5em;
    text-align: left;
    overflow-y: scroll;
}
.quotes{
    width:90vw;
    height:100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    background-color: white;
 }
 .quotescontent {
     display: flex;
     align-items: center;
     margin-right: 2rem;
     justify-content: space-evenly;
     width:min(60em,100%);
     height:100px;
     font-size: 1rem;
     border-radius: 20px;
     box-sizing: border-box;
     background-color: rgb(248, 246, 246);
     box-shadow: 20px 20px 60px #ccc,
                 -20px -20px 60px #fff ;
    
 }
 .quotescontent img{
     width:60px;
     height:60px;
     border-radius: 50%;
     border-left:none;
     border-right: none;
     box-sizing: border-box;
     box-shadow: 1rem 1rem 2rem #ccc,
                 -1rem -1rem 2rem #fff ;
 }
 .quotescontent:nth-child(1)
{
   position:absolute;
   top:10%;
   left:0%;
}
.quotescontent:nth-child(2)
{
   position:absolute;
   top:30%;
   right:0%;
}
.quotescontent:nth-child(3){
   position:absolute;
   top:50%;
   left:0%;
}
.quotescontent:nth-child(4){
   position:absolute;
   top:70%;
   right:0%;
}
::-webkit-scrollbar{
    width:0.2vw;
}
::-webkit-scrollbar-track{
    background:linear-gradient(to bottom ,rgb(13, 56, 73),#def6fa,#dae6f5,#f9fafc);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(2, 107, 182);
   border-radius: 10px;
}
::-webkit-scrollbar-corner{
    background-color: #fff;

}
.row{
    margin-top:80px;
    display: flex;
    justify-content: space-evenly;
}
.column{
    box-sizing: border-box;
    border-radius: 18px;
    background: #f7f5f5;
    box-shadow:  10px 10px 22px #a8a8a8,
                -10px -10px 22px #ffffff;
    width:25vw;
    height:80px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    font-size: 1rem;
    text-align: center;
}
.column:hover{
    transform: scale(1.1);
    box-shadow:  20px 20px 40px #a8a8a8,
    -20px -20px 40px #ffffff;
}
footer{
    margin-top:3rem;
    text-align: center;
}
footer h2{
    margin-bottom:3rem;
}
.about{
    font-size: 1.1rem;
    width:90%;
    margin:auto;
    text-align: justify;
    line-height: 2rem;
    font-family: 'Open Sans', sans-serif;
}
.query{
    width:80vw;
    border-top: none;
    border-bottom:2px solid black;
    border-left:none;
    border-right: none;
    outline: none;
    margin:auto;
    font-size: 1rem;
    margin-top: 10vh;
}
input::placeholder{
    text-align: center;
    font-weight: bolder;
    font-family: 'Lobster Two', cursive;
    font-family: 'Marcellus', serif;
}
button{
    width:10%;
    height:40px;
    background: linear-gradient(to left,rgb(142, 47, 63),rgb(185, 23, 50),rgb(239, 5, 44));
    outline: none;
    color:white;
    font-weight: bold;
    cursor: pointer;
    border:none;
    font-size: 1rem;
}
.social{
    width:25%;
    margin:auto;    
}
.social ul{
    margin-top: 5em;
    list-style: none;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.social ul li{
    width:4em;
    height:4em;
    box-sizing: border-box;
    box-shadow: 10px 10px 20px #ccc,
                -10px -10px 20px #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor:pointer;
}

.fas,.fab{
    font-size: 2em;
    border-radius: 50%;
}
.fa-list-ol{
    font-size: 1.2em;
    margin-right: 2px;
}
.social ul li:hover{
    background-color:#f6465d;
    color:white;
    transition: 1s;
    /* box-shadow: 0 0 10px #c32aa3; */
}
.fa-instagram:hover{
    color:#c32aa3;
    background-color: whitesmoke;
}
.fa-facebook{
    background-color: #1877f2;
    color:white;
    transition: 1s;
}
.fa-github{
    background-color:black;
    color:white;
    font-weight: bold;
    transition: 1s;
}
.img2{
    display: none;
}
@media (max-width:500px){
    .image{
        left:50%;
        transform: translateX(-50%);
    }
    .row .column{
        height:15vh;
        width:30vw;
        font-size: 0.8rem;

    }
    .quotescontent{
        font-size: 0.8rem;
        line-height: 1.5rem;
        padding: 2rem;
    }
    .quotes img{
        margin-right: 2rem;
    }
    .definitions-info{
        width:70%;
        height:60%;
        top:10%;
    }
    .img2{
        display: block;
    }
    .img1{
        display: none;
    }
    .social{
        width:90%;
    }
    button{
        width:80px;
    }
    nav{
        
    }
}