*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.header{
    height:100vh;
    width:100%;
    background-color:#1d2026;
}
.body1{
    height:100%;
    width:80%;
    position: relative;
    margin:auto;
    margin-bottom: 50px;

}
.body2{
    height:80vh;
    width:100%;
    position: relative;

}
::-webkit-scrollbar{
    width:15px;
}
::-webkit-scrollbar-track{
    background-color: yellow;
}
::-webkit-scrollbar-thumb{
    background-color: aquamarine;
}
.fulllight{
    position: absolute;
    left:22%;
    width:200px;
    top:-20px;
    
    
}
.logo{
    margin-left:10px;
    position: absolute;
    top:10px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color:white;
}
.logo img{
    width:50px;
    height:50px;
    border-radius: 50%;
    cursor: pointer;
    animation: move 1s linear infinite;
    
}
.nav{
    width:50%;
    height:60px;
    position: absolute;
    right: 0px;
    top:10px;
    background: #1d2026;
    color: aliceblue;
    
}
.nav ul{
    height:100%;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    font-family: 'Lobster Two', cursive;
    font-family: 'Marcellus', serif;
}
.nav ul li{
    position: relative;
    cursor: pointer;
}
.nav ul li::after{
    content: "";
    width:0%;
    height:3px;
    display: block;
    position: absolute;
    top:20px;
    background-color: #f44336;
}
.nav ul li:hover::after{
    width:100%;
    transition: 1s;
}
.lamp{
 width: 100%;
}
.light{
    position: absolute;
    top:98%;
    left:50%;
    transform: translateX(-50%);
    width:750px;
    height: 100%;
    margin-left: -10px;
}
.heading h1{
    position: absolute;
    top:50%;
    font-size: 64PX;
    left:70%;
    cursor: pointer;
    letter-spacing: 12px;
    transform: translate(-70%,-50%);
    color: white;
    font-family: 'Lobster Two', cursive;
    font-family: 'Marcellus', serif;
}
.body2 h3{
    position: absolute;
    margin-top:30px;
    font-family: 'Lobster Two', cursive;
    font-family: 'Marcellus', serif;
    font-size: 24px;
    left:50%;
    transform: translateX(-50%);
}
.body2 input:focus{

    border-color: blue;
    

}
.body2 input{
    width:80%;
   position: absolute;
   margin-top: 80px;
   left:50%;
   transform: translateX(-50%);
   height:40px;
   font-size: 18px;
   outline-color: midnightblue;
}
.sideheading{
    position: absolute;
    top:200px;
    left:20px;
}
.body2 .row{
    position: absolute;
    top:250px;
    width:100%;
    
    display: flex;
    justify-content: space-around;

}
.body2 .row .column{
    box-sizing: border-box;
    box-shadow: 10px 10px 20px #ccc,
                -10px -10px 20px #fff;
    height:250px;
    cursor: pointer;
    width:250px;
    text-align: center;
    font-size: 18px;
    font-family: 'Lobster Two', cursive;
    font-family: 'Marcellus', serif;

}
.body2 .row .column img{
    width:100%;
     height:150px;
}
.body2 .row .column button{
    width:100%;
    height: 30px;
    margin-top: 30px;
    cursor: pointer;
    transition: 1.5s;
    font-weight: bold;
}
.body2 .row .column button:hover{
    background: #0c87eb;
    color:white;
}
.body1 h2{
   position: absolute;
   left:50%;
   transform: translateX(-50%);
   margin-top: -50px;
   font-family: 'Lobster Two', cursive;
   font-family: 'Marcellus', serif;

  
}
.body1 .row{
      
    display: flex;
    justify-content: space-around;
    margin-top: 80px;

}
.body1 .row .column{
    box-sizing: border-box;
    box-shadow: 10px 10px 20px #ccc,
                -10px -10px 20px #fff;
    height:250px;
    cursor: pointer;
    width:250px;
    text-align: center;
    font-size: 18px;
    font-family: 'Lobster Two', cursive;
    font-family: 'Marcellus', serif;

}
.body1 .row .column img{
    width:100%;
     height:150px;
}
.body1 .row .column button{
    width:100%;
    height: 30px;
    margin-top: 30px;
    cursor: pointer;
    transition: 1.0s;
    font-weight: bold;
    background: #0c87eb;
}
.body1 .row .column button:hover{
    background: #ebc20c;
    color:white;
}
.body3{
    width:90%;
    height:60vh;
    margin: auto;
    margin-top: 40px;

    text-align: center;
    font-family: 'Lobster Two', cursive;
    font-family: 'Marcellus', serif;
}
.about{
    width:95%;
   
    margin: auto;
    line-height: 25px;
    margin-top: 40px;
    font-weight: bold;
}
.query{
    width:80%;
    border-top: none;
    border-bottom:2px solid black;
    border-left:none;
    border-right: none;
    outline: none;
    
    font-size: 16px;
    margin-top: 50px;
}
input::placeholder{
    text-align: center;
    font-weight: bolder;
    font-family: 'Lobster Two', cursive;
    font-family: 'Marcellus', serif;
}
.body3 form button{
    width:60px;
    height:30px;
    background: cornflowerblue;
    outline: none;
    border:none;
}
.social{
    width:200px;
    margin:auto;
    margin-top: 80px;
    
}
.social ul{
    list-style: none;
    display: flex;
    justify-content: space-between;

    
}
.menu{
    display: none;
}
.mobilenav{
    width:100%;
    height:230px;
    background-color: rgb(22, 13, 71);
    display: none;
}
.mobilenav ul{
 display: flex; 
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  width:100%;
}
.mobilenav ul li{
     width:100%;
    display: flex; 
    padding:5px;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    font-weight: bold;
}
.social ul li{
    width:30px;
    height:30px;
    box-sizing: border-box;
    box-shadow: 10px 10px 20px #ccc,
                -10px -10px 20px #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor:pointer;
}
.fas,.fab{
    font-size: 26px;
   
    border-radius: 50%;
}
.fa-instagram{
    background-color:#c32aa3;
    color:white;
    transition: 1s;
    box-shadow: 0 0 10px #c32aa3;
}
.fa-instagram:hover{
    color:#c32aa3;
    background-color: whitesmoke;
}
.fa-facebook{
    background-color: #1877f2;
    color:white;
    transition: 1s;
}
.fa-facebook:hover{
    background-color: white;
    color:#1877f2;
}
.fa-github{
    background-color:black;
    color:white;
    font-weight: bold;
    transition: 1s;
}
.fa-github:hover{
    background-color:white;
    color:black;;
}
.fa-envelope{
    color:coral;
}
.fa-envelope:hover{
    background-color:rgb(184, 181, 23);
    color:rgb(15, 3, 3);;
}
@media (max-width:480px) {
    .nav{
        display: none;
    }
    .mobilenav{
        display:flex;
        position: fixed;
        top:-260px;
        cursor:pointer;
        transition: 1s;
        z-index: 10;
    }
    .mobilenav.active{
        position: sticky;
        top:60px;
    }
    .mobilenav ul{
        display: flex; 
         flex-direction: column;
         align-items: center;
         list-style-type: none;
        margin:auto;
    }
    .menu{
        display:flex ;
        width:30px;
        justify-content: center;
        align-items: center;
        height:30px;
        background-color: rgb(225, 215, 250);
        position: absolute;
        right:30px;
        top:15px;
        
    }
    .logo{
        height: 60px;
        margin-left: 0px;
        width:100%;
        background-color: #05162c;
        position: absolute;
        top:0px;
        left:0px;
    }
    .body2 h3{
        font-size: 1.2rem;
    }
    .body2 h2{
        text-align: center;
    }
    .body1 .row{
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 20px;
    }
    .body1 h2{
        font-size: 1rem;
        left:45%;
    }
    .query{
        width:50%;
    }
    .body2 .row{
        display: none;
    }
    .lamp{
        width:100px;
       
    margin-left: 50px;
    }
    .light{
        width:340px;
        position: absolute;
        top:98%;
        left:50%;
        margin-left: -05px;

    }
}