:root{

}
body{
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 75px;
    perspective: 10em;
    perspective-origin: 50%  calc(50% - 2em) ;
}
.scene{
    position: relative;
    transform-style: preserve-3d;
    animation:rotate 3s infinite linear;

}
@keyframes rotate {
    to{
        transform: rotateY(360deg);
    }
    
}

.shadow{
    position: absolute;
    width:100%;
    height:100%;
    background-image: radial-gradient(#0007,#0000 50%);
    animation: shadow 5s infinite ease-out,;
}
.ball{
   width:  1em;
   height: 1em;
   border-radius: 50%;
   background-color: aqua;
   position: absolute;
   left:-0.5em;
   bottom:1em;
   animation:bounce 3s infinite ease-out,rotate 3s infinite linear reverse;
   background-image: radial-gradient(circle at top ,lightblue,  #000);
  

}
@keyframes bounce {
    0%,100%{bottom:0.5em; }
    50%{bottom:3em;
    animation-timing-function: ease-in;}
}
@keyframes shadow {
    0%,8%,93.5%,100%{transform: scale(1); }
    50%{transform: scale(2);
    animation-timing-function: ease-in;}
}
.left,.right,.front,.back{
    position: absolute;
    width: 100%;
    height:100%;
    background-color:rgb(148, 200, 224);
    box-shadow: 0 0 0.5em #000a inset;
}
.front{
    transform: translateZ(1em);
}
.right{
    transform:rotateY(90deg) translateZ(1em);
    
}
.back{
    transform:rotateY(180deg) translateZ(1em);
    
}
.left{
    transform:rotateY(270deg) translateZ(1em);
    
}
.top{
    position: absolute;
    width:2em;
    height: 2em;
    background-color: rgb(148, 200, 224);
    transform: translateY(-50%) rotateX(90deg);
}
.bottom{
    position: absolute;
    width:2em;
    height: 2em;
    background-color: rgb(148, 200, 224);
    transform: translateY(50%) rotateX(90deg);
}
.cube{
    width:2em;
    height:2em;
    background-color:rgb(92, 138, 160) ;
    position:absolute;
    transform-style: preserve-3d;
    bottom:-1em;
    left:-1em;
    animation: cubeheight 3s infinite ease-out;
    
    
}
@keyframes cubeheight {
    0%,100%{height:1.5em; }
    8%,93.5%{height:2em; }
}
.floor{
    width:10em;
    height:10em;
    background-image: radial-gradient(#0000,#000 75%),
    repeating-conic-gradient(from 45deg,
    #111 0deg 90deg,
    rgb(66, 61, 61) 90deg 180deg );
    background-size:100%, 1em 1em;
    position: absolute;
    top:1em;
    
    transform: translate(-50%,-50%) rotateX(90deg);
}