*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #66FFFF;
    
}
h1{
    position: absolute;
    top:49%;
    left:50%;
    color:black;
    font-size:104px;
    transform: translate(-50%,-49%);
}
.circle{
    width:150px;
    position: absolute;
    top:39%;
    left:50%;
    border-radius: 50%;
    transform: translate(-50%,-40%);
    height:150px;
    animation:circle 4s linear 1s infinite;
    border:4px solid black
}
h2{
    position: absolute;
    font-family: 'EB Garamond', serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Serif JP', serif;
    top:57%;
    color:black;
    margin-top: 10px;
    left:50%;
    font-size: 46px;
    transform: translate(-50%,-55%);

}
h3{
    position: absolute;
    font-family: 'EB Garamond', serif;
font-family: 'Lato', sans-serif;
font-family: 'Noto Serif JP', serif;

    top:63%;
    color:black;
    left:50%;
    margin-top: 10px;
    transform: translate(-50%,-55%);
    font-size: 14px;

}
.loading{
    display: flex;
    position: absolute;
    bottom:60px;
    left:50%;
    transform: translateX(-50%);
}
.loader{
    width:6px;
    margin: 2px;
    height:6px;
    background-color:rgb(163, 144, 144);
    border-radius: 50%;
    animation: loader 1s linear 1s infinite;
}
@keyframes loader{
    0%{
        background-color:grey;
    }
    100%{
        background-color:black;
    }
}
div:nth-child(2){
    animation-delay: 2s;
}
