*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #091921;
}
.clock{
    width:350px;
    height: 350px;
    background:url("clock.png") ;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #091921;
    border-radius: 50%;
    background-size: cover;
    box-shadow: 0px -15px 15px rgba(225, 225, 225,0.05),
                inset 0px -15px 15px rgba(225, 225, 225,0.05),
                0px 15px 15px rgba(0, 0, 0,0.3),
                inset 0px -15px 15px rgba(0, 0, 0,0.3);
}
.clock::before
{
    content: "";
    width:15px;
    height:15px;
    background-color: white;
    position: absolute;
    border-radius: 50%;
    z-index: 10000;

}
.clock .hour,
.clock .min,
.clock .sec{
    position: absolute;
}
.clock .hour, .hr{
    width:160px;
    height:160px;
}
.clock .min, .mn{
    width:190px;
    height:190px;
}
.clock .sec, .sc{
    width:210px;
    height:210px;
}
.hr,.mn,.sc{
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}
.hr::before{
    content: "";
    width:8px;
    position: absolute;
    height:80px;
    background: #ff105e;
    z-index: 10;

}
.mn::before{
    content: "";
    width:4px;
    position: absolute;
    height:90px;
    background: #fff;
    z-index: 10;

}
.sc::before{
    content: "";
    width:2px;
    position: absolute;
    height:150px;
    background: #fff;
    z-index: 10;

}