body{
    margin: 0;
    padding: 0px;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzT1KkUJziU2yCCusflp3qc01Sww8JcwD2Ow&usqp=CAU");
    background-size: cover;
    color:black;
}    
.details{
    width: 25%;
    display: block;
    margin:%;
    position: absolute;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
    left:50%;
    transform:translate(-50%,-50%);
    top:50%;
    height: 60vh;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px 0px black;
    background:url("https://c4.wallpaperflare.com/wallpaper/1003/64/947/brown-canyon-with-greed-grass-and-trees-and-blue-cloudy-sky-zion-national-park-utah-zion-national-park-utah-wallpaper-preview.jpg");
    background-size:cover;
    background-repeat:no-repeat;
}
.details h1{
    text-align: center;
    font-size: 40px;
}
.details span{
    font-size: 17px;
    position: absolute;
    left: 5%;
  
    
}
.details .fa-eye{
    position: absolute;
    left:82%;
    top:32.5%;
    transform: translate(-82%,-32.5%);
    cursor: pointer;
}
.details input{
    font-size: 16px;
    position: absolute;
    left: 25%;
    background:
}
.details a{
    
    position: absolute;
    left:32%;
    top:50%;
    color:black;
    font-weight: 600px;
}
.details .fa-eye:hover{
    color:red;
}
.details button{
    width: 60%;
    position: absolute;
    left: 18%;
    top:60%;
    background:transparent;
    cursor: pointer;
    transition: 1s;
    font-size: 16px;
    border: 2px solid #f44332;

}
.details button:hover{
    background-color: #f44332;
}
.image h2{
    font-size:16 px;
    position: absolute;
    left:45%;
    top:70%;
    transform: translate(-35%,-70%);
}
.image {
    width: auto;
   
}
.image ul li {
    
    list-style: none;
   
    padding: 15px;
  
    border: 2px solid #f44332;
    background: transparent;
    transition: 0.5s;
}
.image ul {
    display: inline-flex;
    font-size: 20px;
    justify-content: space-between;
   
    position: absolute;
    left: 35%;
    top:85%;
    transform: translate(-35%,-85%);

}
.image ul  :hover{
    background: tomato;
    border-radius: 50%;
    cursor: pointer;
}
.image a{
    position: absolute;
    top:95%;
}
@media(max-width:700px)
{
    .details{
        width:60%;
        height: 100vh;
    }
    .details input{
        font-size: 12px;
        position: absolute;
        left: 65%;
        transform: translateX(-65%);
        background:
    }
    .details .fa-eye{
        position: absolute;
        left:90%;
        top:32.5%;
        transform: translate(-90%,-32.5%);
        cursor: pointer;
    }

}