*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.button{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button button{
    width:40px;
    height:40px;
    border-radius: 50%;
    background: radial-gradient(circle at center,#FFFFFF,#FFE484,#FFCC33,#FC9601,#D14009);
    border:none;
    font-weight: bold;
    outline: none;

}
.sidebar{
    height:100vh;
    width: 100%;
    background:linear-gradient(to left,rgba(250, 41, 170, 0.925),rgb(245, 62, 92),rgb(185, 2, 33),rgb(236, 23, 208));
    background-position: center;
    padding: 10px;
    position: fixed;
    top:0px;
    left:0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    font-size: 18px;
   
}


body{
    font-size:20px;
   
    width:100%;
}
.sidebar{
    transform: translateY(-100%);
    transition: transform 1s ease-out;
}
.button{
    cursor: pointer;
    
}
.sidebar.active{
    transform: translateY(0%);
}
.close{
    position: absolute;
    top:10px;
    left:10px;
    cursor: pointer;
}
.fas,.fab{
    font-size: 28px;
    color:rgb(2, 4, 5);
}
.sidebar ul {
    cursor: pointer;
    display:flex;
    flex-direction: column;
    list-style: none;
    overflow: hidden;
    box-sizing: border-box;
    margin-left: 10px;

    
}
.sidebar ul li{
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    height:60px;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;   
}
.sidebar ul li::after{
    content: '';
    width:0%;
    height:3px;
    background-color: #db2c06;
    display: block;
    margin:auto;
    transition: 1s;
}
.sidebar ul li:hover::after{
    width:100%;
   
}
.sidebar ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.text:hover{
    box-sizing: content-box;
    border:2px solid black ;
    padding: 5px;
    box-shadow: 1px 1px 1px 2px  white;
}
.name{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #ff7700;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d6002b' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b10022' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d9004b' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b2003d' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d3006c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23ac0057' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c4008c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%239e0071' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    
    justify-content: center;
   perspective: 1000px;
   transform-style: preserve-3d;
    align-items: center;
}
.word h2{
    color:white;
    font-size: 62px;
  
   
    font-family: 'Architects Daughter', cursive;
font-family: 'Noto Sans', sans-serif;
font-family: 'Noto Sans Display', sans-serif;
font-family: 'Open Sans', sans-serif;

}
.html{
    scroll-behavior: smooth;
}

.email{
    width:100%;
    height:100%;
    margin:auto;
    font-family: 'Urbanist', sans-serif;

}
.email h1{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 60px;
    font-family: 'Architects Daughter', cursive;
    font-family: 'Cinzel Decorative', cursive;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans Display', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Sacramento', cursive;
    font-family: 'Tangerine', cursive;
font-size: 46px;
 
}
.email h2{
    text-align: center;
   
    font-size: 36px;
    font-weight: bold;
}
.certificate{
    margin-top: 60px;
}
.row{
    width:100%;
    box-sizing: border-box;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(0 0)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='rotate(0 800 450)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0 0)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(0 0)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='rotate(0 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='rotate(0 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
   
    margin: auto;
    margin-bottom: 20px;


}

.row img{
    margin-top: 20px;
    width:70%;
    height:60vh;
    box-sizing: border-box;
    box-shadow: 4px 4px 5px #f2f3f5, -4px -4px 5px #cbddf7;
    
    border-radius: 30px;
}
h4{
    margin-top: 20px;
    text-align: center;
}
h4::after{
    content:"";
    width:100%;
    height: 2px;
    display: block;
    background-color: #0a0808;
    transition: 1s;
}
h4:hover::after{
width: 0;
}

.row img:nth-child(4)
{
    margin-bottom: 80px;
}
.articles{
    width:100%;
    height: 50vh;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M956.7214633135916 61.030233943272165L822.5403022834398 169.47642571004724 962.3732624670777 225.97260886040016z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M87.51%2c472.341C109.884%2c471.812%2c133.645%2c467.747%2c145.563%2c448.804C158.135%2c428.821%2c156.631%2c402.611%2c143.88%2c382.742C132.028%2c364.273%2c109.455%2c358.297%2c87.51%2c358.343C65.666%2c358.389%2c43.775%2c364.876%2c31.552%2c382.98C17.749%2c403.424%2c11.409%2c430.759%2c24.501%2c451.666C37.075%2c471.746%2c63.825%2c472.901%2c87.51%2c472.341' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M315.54252474643937 405.0676484440504L352.79200160205403 296.88731257224055 244.61166573024417 259.6378357166259 207.3621888746295 367.81817158843575z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M215.217%2c127.358C250.84%2c128.795%2c288.109%2c114.043%2c304.229%2c82.243C319.325%2c52.463%2c301.827%2c19.387%2c284.38%2c-9.08C268.009%2c-35.792%2c246.545%2c-62.633%2c215.217%2c-62.993C183.436%2c-63.358%2c158.746%2c-38.448%2c143.245%2c-10.701C128.19%2c16.247%2c123.561%2c48.159%2c137.83%2c75.531C153.212%2c105.037%2c181.969%2c126.017%2c215.217%2c127.358' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M458.313%2c250.206C498.691%2c251.527%2c544.932%2c247.392%2c564.825%2c212.229C584.549%2c177.366%2c562.718%2c136.696%2c541.886%2c102.483C522.194%2c70.142%2c496.084%2c39.974%2c458.313%2c37.301C415.987%2c34.305%2c372.257%2c52.056%2c351.388%2c89.001C330.789%2c125.467%2c340.077%2c170.73%2c363.227%2c205.632C383.965%2c236.898%2c420.815%2c248.979%2c458.313%2c250.206' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1070.5524400289562 279.350746142612L1165.7036213255494 323.7204706637081 1114.9221645500522 184.19956484601886z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}

@media(max-width:480px)
{
    .row img{
        height:30vh;
        width: 90%;
    }
    .word h2{
        font-size: 36px;
        text-align: center;
    }

}
