*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.button{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button button{
    width:40px;
    height:40px;
    border-radius: 50%;
    background: radial-gradient(circle at center,#FFFFFF,#FFE484,#FFCC33,#FC9601,#D14009);
    border:none;
    font-weight: bold;
    outline: none;
}
.sidebar{
    height:100vh;
    width: 100%;
    background:linear-gradient(to left,rgb(228, 111, 131),rgb(216, 69, 93),rgb(241, 21, 58),rgb(250, 3, 44));
    background-position: center;
    padding: 10px;
    position: fixed;
    top:0px;
    left:0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    font-size: 18px;
    color:white;
   
}


body{
    font-size:20px;
    
    width:100%;
}
.sidebar{
    transform: translateY(-100%);
    transition: transform 1s ease-out;
}
.button{
    cursor: pointer;
    
}
.sidebar.active{
    transform: translateY(0%);
}
.close{
    position: absolute;
    top:10px;
    left:10px;
    cursor: pointer;
}
.fas,.fab{
    font-size: 28px;
    color:rgb(2, 4, 5);
}
.sidebar ul {
    cursor: pointer;
    display:flex;
    flex-direction: column;
    list-style: none;
    overflow: hidden;
    box-sizing: border-box;
    margin-left: 10px;

    
}
.sidebar ul li{
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    height:60px;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;   
}
.sidebar ul li::after{
    content: '';
    width:0%;
    height:3px;
    background-color: #a0351d;
    display: block;
    margin:auto;
    transition: 1s;
}
.sidebar ul li:hover::after{
    width:100%;
   
}
.sidebar ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.text:hover{
    box-sizing: content-box;
    border:2px solid black ;
    padding: 5px;
    box-shadow: 1px 1px 1px 2px  white;
}
.name{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(to top, #2787EA,#1c67D2,#01B0D3);
    justify-content: center;
  
    align-items: center;
}
.info{
    position: relative;
}
.info .text1 .h{
    width:160px;
    height:40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:20px;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow:  inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
}
.word{
    font-size: 64px;
    color:white;
    font-weight: bold;
}
.self{
    width:70%;
    height:150px;
    position: absolute;
    top:-50%;
    left:50%;
    z-index: 10;
    transform: translate(-50%,-20%);
    box-sizing: border-box;
  display: none;
    box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF; 
}


.self::after{
    content:"";
    position:absolute;
    width:45px;
    height:45px;
    background:#FFF;
    color:rgb(248, 245, 245);
    left:10px;
    top:128px;
    z-index: -1;
    box-sizing: border-box;
    box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF; 
    transform: rotate(45deg);
   
}
.text1 iframe.active{
    display: block;
}
.text1 iframe{
    display:none;
    position: absolute;
    top:60%;
    left:0%;
    height:350px;
    width:600px;
}
.text1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:50%;
    height:200px;
    position: absolute;
    top:50%;
    left:50%;
    transform:translateY(-50%) 
}
.contact{
    width:100%;
    position: absolute;
    font-weight: bolder;
    margin: auto;
    height: 100vh;
}
.cardc.fas{
    font-size: 18px;
    color:maroon;
    position: absolute;
    left:100px;
}
.full{
    box-sizing: border-box;
    box-shadow: 0 0 10px black;
    width:20%;
    height:30%;
    border-radius: 50%;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    

}
.contact img{
    width:100%;
    z-index: 10;
    border-radius: 50%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px black;
    left:50%;
    transform: translateX(-50%);
    transition: 1s;
    
}
.side{

    width: 5rem;
    border-radius: 10px;
    height: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px rgb(0,0,0,0.5);
    position: absolute;
    left:55%;
    margin-top: 2px;
    
    transform: translateX(-50%);
    transition: 1s;

}
.full:hover .side{
   
    transform: translateX(180%);
    
}
.side a{
    text-decoration: none;
}
.side i{
   margin:10px;
    cursor: pointer;
    font-size: 1.5rem;
    box-sizing: border-box;
    box-shadow: 0 0 5px black;
    width: 2rem;
    height:2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-instagram{
    background-color:#c32aa3;
    color:white;
    transition: 1s;
    box-shadow: 0 0 10px #c32aa3;
}
.fa-instagram:hover{
    color:#c32aa3;
    background-color: whitesmoke;
}
.fa-facebook{
    background-color: #1877f2;
    color:white;
    transition: 1s;
}
.fa-facebook:hover{
    background-color: white;
    color:#1877f2;
}
.fa-github{
    background-color:black;
    color:white;
    font-weight: bold;
    transition: 1s;
}
.fa-github:hover{
    background-color:white;
    color:black;;
}
.fa-envelope{
    color:coral;
}
.clock{
    width:350px;
    height: 350px;
    background:url("clock.png") ;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid linear-gradient(to right rgb(89, 202, 247),rgb(74, 213, 238));
    border-radius: 50%;
    background-size: cover;
    box-shadow:  0px -15px 15px rgba(225, 225, 225,0.05),
    inset 0px -15px 15px rgba(225, 225, 225,0.05),
    0px 15px 15px rgba(0, 0, 0,0.3),
    inset 0px -15px 15px rgba(0, 0, 0,0.3);
    position: absolute;
    left:10px;
    background-color: rgb(250, 250, 250);
}
.clock::before
{
    content: "";
    width:15px;
    height:15px;
    background-color: rgb(96, 236, 15);
    position: absolute;
    border-radius: 50%;
    z-index: 10000;

}
.clock .hour,
.clock .min,
.clock .sec{
    position: absolute;
}
.clock .hour, .hr{
    width:160px;
    height:160px;
    
}
.clock .min, .mn{
    width:190px;
    height:190px;
    
}
.clock .sec, .sc{
    width:210px;
    height:210px;
}
.hr,.mn,.sc{
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
   
}
.hr::before{
    content: "";
    width:8px;
    position: absolute;
    height:80px;
    background: #1d886d;
    z-index: 10;

}
.mn::before{
    content: "";
    width:4px;
    position: absolute;
    height:90px;
    background: rgb(4, 186, 241);
    z-index: 10;

}
.sc::before{
    content: "";
    width:2px;
    position: absolute;
    height:150px;
    background: rgb(241, 4, 4);
    z-index: 10;

}
.footer p{
    font-size: 16px;
    position: absolute;
    top:30%;
    left:50%;
  
    transform: translateX(-50%);   
    font-family: 'Raleway', sans-serif;
}
.dcolumns{
    width:100%;
    hei
}