.sidebar{
    height:100vh;
    width: 100%;
    background:antiquewhite;
    background-position: center;
    background-size: cover;
    padding: 10px;
    position: fixed;
    top:0px;
    left:0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    font-size: 18px;
   
}
*{
    margin: 0;
    padding: 0;
}
.sidebar{
    transform: translateY(-100%);
    transition: transform 1s ease-out;
}
.button{
    cursor: pointer;
    
}
.sidebar.active{
    transform: translateY(0%);
}
.close{
    position: absolute;
    top:10px;
    left:10px;
    cursor: pointer;
}
.fas{
    font-size: 28px;
    color:red;
}
ul {
    cursor: pointer;
    display:flex;
    flex-direction: column;
    list-style: none;
    overflow: hidden;

    
}
ul li{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    height:60px;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    
}
ul li:hover{
    box-sizing: 0px 0px 15px black;
}
ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.text:hover{
    box-sizing: content-box;
    border:2px solid black ;
    padding: 5px;
    box-shadow: 1px 1px 1px 2px  white;
}
.name{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #8db596;
    justify-content: center;
  
    align-items: center;
}
.word{
    color:#8db596;
    font-weight: 900;
    line-height: 45px;
}
.word span{
    font-size: 4rem;
    display: inline-block;
    animation: move 3s ease-in-out infinite;
}
.html{
    scroll-behavior: smooth;
}
@keyframes move {
    0%{
        transform: translate(-30%,0%);
    }
    25%{
        transform: translate(0%,0%);
    }
    50%{
        text-shadow: 0px 25px 50px rgb(0, 0,0,0.9);
    }
    75%{
        transform:translate(0%,0%)
    }

    100%{
        transform: translate(30%,0%);
    }
}
.word span:nth-child(2){
    animation-delay: .5s;
}
.word span:nth-child(3){
    animation-delay: 1s;
}
.word span:nth-child(4){
    animation-delay: 1.5s;
}
.study{
    margin:auto;
    width:80%;
    text-align: center;

    
  

}
h1{
    text-align: center;
    margin-top: 50px;
    text-decoration: underline;
    margin-bottom: 50px;
}
.row{

    display: flex;
    justify-content: space-between;
    
    
}
.column{
    flex-basis: 25%;
    border: 2px solid white;
    padding: 20px 10px;
    margin: 12px 20px;
    background:marun;
    flex-direction: row;
    box-sizing: border-box;
    transition: 0.6s;
    box-shadow: 0px 0px 20px rgb(0, 0,0,0.2);
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.column:hover{
   box-shadow: 0px 0px 10px rgb(0, 0,0,0.9);
}
.achievements{
    width:80%;
    margin:auto;
   
}
.achievements h2{
    margin-top:70px ;
    text-align: center;
   
}
.column1 h3{
    text-align: center;
}
.column1{
    margin-top: 50px;
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 0px 0px 20px rgb(0,0,0,.2);
    border: 2px solid white;
    margin-bottom: 100px;
    font-weight: bolder;
    padding: 10px 20px;
    flex-basis: 25%;
    text-align: left;
    line-height: 22px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.column1 .tag{
    
    border: 2px solid black;
    text-decoration: none;
    display: absolute;
    left:50%;
    text-align: center;
    width:50%;
    margin:auto;
    cursor: pointer;
    background: transparent;
    padding: 5px;
    
}
.column1 a{
    text-decoration: none;
    font-size: 16px;

}
.column1 .tag:hover{
    background-color: #f44332;
  
  transition:1s;
}
.contact{
    width:80%;
    position: absolute;
    font-weight: bolder;
   
    margin: auto;
    height: 100vh;
}
.contact .card{
 
    
    
  
  
}
.cardc.fas{
    font-size: 18px;
    color:maroon;
    position: absolute;
    left:100px;
}
.contact img{
    width:400px;
    z-index: 10;
    border-radius: 50%;
    height: 270px;
    position: absolute;
    left:50%;
    transform: translateX(0%);
}
.side{
    transform: translateX(-100%);
    width: 50%;
    border-radius: 10px;
    height: 50vh;
    display: none;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    flex-basis: 51%;
    box-sizing: border-box;
    box-shadow: 0px 0px 15px rgb(0,0,0,0.5);

}
.card:hover .side{
    transform: translateX(50%);
}
.side p{
    position: absolute;
    top:10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.side i{
    margin: 10px;
    cursor: pointer;
}
.fa-instagram{
    color:#c32aa3;
}
.fa-facebook{
    color: #1877f2;
}
.fa-github{
    color:#00000;
}
.fa-envelope{
    color:coral;
}
.course{
    width:80%;
    margin: auto;
    padding: 0;
  
}
.row2{
    display: flex;
  

}
.col{
    flex-basis: 70%;
    margin: 30px 20px;
}
.col img{
    width:300px;
    height:200px;
    border-radius: 200px;
}
.col p{
    box-sizing: border-box;
    box-shadow: 0 0 4px black;
    width:300px;
    height: 200px;
    transition: 1s;
    border-radius: 10px;
    padding: 10px;
    
}
.col p:hover{
   
    background:#db2c06;
    font-weight: 600px;

}
.special{
    background: url(https://images.unsplash.com/photo-1544306094-e2dcf9479da3) no-repeat;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
.container {
    width: 32rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 46PX;
    height: 20rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .15); 
    backdrop-filter: blur(5px);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    scroll-behavior: smooth;
    
}
.column1 button{
    padding:10px;
    font-weight: bold;
    margin-top: 10px;
    
} 
@media (max-width:700px)
{
    .row2{
        flex-direction: column;
    }
    .row{
        flex-direction: column;
    }
    .card{
        position: absolute;
        bottom:20px;
    }
    .container{
        width:20rem;
        font-size: 32px;
    }
}
.email input{
    width: 40%;
    height: 10vh;
    position: absolute;
    left:50%;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 24px;
    transform: translateX(-50%);
    
}
.email input:hover{
    border-bottom-color:#1877f2;
}
.email{
    text-align: center;
    height: 100vh;
}
.submit{
    text-decoration: none;
    position: absolute;
    border: 1px solid black;
    width:10%;
    left:50%;
    bottom:-75%;
    transform: translateX(-50%);
    font-size:18px;
    text-align: center;
  
   
}
.answer input{
    width: 40%;
    height: 10vh;
    position: absolute;
    left:50%;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 24px;
    transform: translateX(-50%);
    margin-bottom: 50px;
    
}
