.sidebar{
    height:100vh;
    width: 100%;
    background:antiquewhite;
    background-position: center;
    background-size: cover;
    padding: 10px;
    position: fixed;
    top:0px;
    left:0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    font-size: 18px;
   
}
*{
    margin: 0;
    padding: 0;
}
.circle{
    width:150px;
    height:150px;
    box-sizing: border-box;
    box-shadow: 0 0 5px white;
    background:transparent;
    border-radius: 50%;
    position: absolute;
    top:20%;
    left:10%;
}
.hour{
    width:3px;
    height:45px;
    background-color: black;
    position: absolute;
    left:50%;
    top:20%;
    transform: translate(-50%,-11%);
    
    
}
.minutes{
    width:2px;
    height:50px;
    background-color: black;
    position: absolute;
    left:50%;
    top:80%;
    transform: translate(-50%,-80%) ; 
}
.seconds{
    width:1px;
    height:55px;
    background-color: black;
    position: absolute;
    left:70%;
    top:50%;
    transform: translate(-50%,-50%) rotateZ(90deg) ;
}
.dot{
    width:10px;
    height:10px;
    border-radius: 50%;
    background-color: #db2c06;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}
body{
    font-size:20px;
    
    width:100%;
}
.sidebar{
    transform: translateY(-100%);
    transition: transform 1s ease-out;
}
.button{
    cursor: pointer;
    
}
.sidebar.active{
    transform: translateY(0%);
}
.close{
    position: absolute;
    top:10px;
    left:10px;
    cursor: pointer;
}
.fas{
    font-size: 28px;
    color:red;
}
ul {
    cursor: pointer;
    display:flex;
    flex-direction: column;
    list-style: none;
    overflow: hidden;

    
}
ul li{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    height:60px;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    
}
ul li:hover{
    box-sizing: 0px 0px 15px black;
}
ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.text:hover{
    box-sizing: content-box;
    border:2px solid black ;
    padding: 5px;
    box-shadow: 1px 1px 1px 2px  white;
}
.name{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #8db596;
    justify-content: center;
  
    align-items: center;
}
.word{
    color:#8db596;
    font-weight: 900;
    line-height: 45px;
}
.word span{
    font-size: 4rem;
    display: inline-block;
    animation: move 3s ease-in-out infinite;
}
.html{
    scroll-behavior: smooth;
}
@keyframes move {
    0%{
        transform: translate(-30%,0%);
    }
    25%{
        transform: translate(0%,0%);
    }
    50%{
        text-shadow: 0px 25px 50px rgb(0, 0,0,0.9);
    }
    75%{
        transform:translate(0%,0%)
    }

    100%{
        transform: translate(30%,0%);
    }
}
.word span:nth-child(2){
    animation-delay: .5s;
}
.word span:nth-child(3){
    animation-delay: 1s;
}
.word span:nth-child(4){
    animation-delay: 1.5s;
}
.study{
    margin:auto;
    width:80%;
    text-align: center;
}
h1{
    text-align: center;
    margin-top: 3rem;
    text-decoration: underline;
    margin-bottom: 3rem;
}
.row{

    display: flex;
    justify-content: space-between;
    
    
}
.column{
    flex-basis: 25%;
    border: 2px solid white;
    padding: 1rem 0.5rem ;
    margin: 0.5rem 1rem;
    flex-direction: row;
    box-sizing: border-box;
    transition: 0.6s;
    box-shadow: 0px 0px 20px rgb(0, 0,0,0.2);
    cursor: pointer;
    font-size: 1rem;
    
}
.column h2{
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
}
.column:hover{
   box-shadow: 0px 0px 10px rgb(0, 0,0,0.9);
}
.achievements{
    width:80%;
    margin:auto;
   
}
.achievements h2{
    margin-top:4.5rem ;
    text-align: center;
   
}
.column1 h3{
    text-align: center;
    font-size: 1.3rem;
    text-shadow: 0px 0px 10px white;
    margin-bottom: 1rem;
}
.column1{
    margin-top: 2.5rem;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px rgb(0,0,0,.2);
    border: 2px solid white;
    margin-bottom: 5rem;
    padding: 0.5rem 1rem;
    flex-basis: 30%;
    text-align: left;
    line-height: 1.2rem;
    display: flex;
    font-size: 1rem;
    justify-content: center;
    flex-direction: column;
}

.column1 .tag{
    border: 2px solid black;
    text-decoration: none;
    display: absolute;
    left:50%;
    text-align: center;
    width:50%;
    margin:auto;
    cursor: pointer;
    background: transparent;
    padding: 5px;
}
.column1 .tag:hover{
    background-color: #f44332;
    transition:1s;
}
.contact{
    width:80%;
    position: absolute;
    font-weight: bolder;
    margin: auto;
    height: 100vh;
}
.cardc.fas{
    font-size: 18px;
    color:maroon;
    position: absolute;
    left:100px;
}
.full{
    box-sizing: border-box;
    box-shadow: 0 0 10px black;
    width:30%;
    height:30%;
    border-radius: 50%;
    position: absolute;
    left:50%;
    transform: translateX(-10%);
    

}
.contact img{
    width:100%;
    z-index: 10;
    border-radius: 50%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px black;
    left:50%;
    transform: translateX(-50%);
    transition: 1s;
    
}
.side{

    width: 5rem;
    border-radius: 10px;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px rgb(0,0,0,0.5);
    position: absolute;
    left:55%;
    transform: translateX(-50%);
    transition: 1s;

}
.full:hover .side{
   
    transform: translateX(180%);
    
}
.side a{
    text-decoration: none;
}
.side p{
    position: absolute;
    top:10px;
    font-size: 1rem;
}
.side i{
    margin: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    box-sizing: border-box;
    box-shadow: 0 0 5px black;
    width: 2rem;
    height:2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-instagram{
    background-color:#c32aa3;
    color:white;
    transition: 1s;
    box-shadow: 0 0 10px #c32aa3;
}
.fa-instagram:hover{
    color:#c32aa3;
    background-color: whitesmoke;
}
.fa-facebook{
    background-color: #1877f2;
    color:white;
    transition: 1s;
}
.fa-facebook:hover{
    background-color: white;
    color:#1877f2;
}
.fa-github{
    background-color:black;
    color:white;
    font-weight: bold;
    transition: 1s;
}
.fa-github:hover{
    background-color:white;
    color:black;;
}
.fa-envelope{
    color:coral;
}
.course{
    width:80%;
    margin: auto;
    padding: 0;
  
}
.row2{
    display: flex;
  

}
.col{
    flex-basis: 70%;
    margin: 30px 20px;
}
.col img{
    width:300px;
    height:200px;
    border-radius: 200px;
}
.col p{
    box-sizing: border-box;
    box-shadow: 0 0 4px black;
    width:300px;
    height: 200px;
    transition: 1s;
    border-radius: 10px;
    padding: 10px;
    
}
.col p:hover{
   
    background:#db2c06;
    font-weight: 600px;

}
.special{
    background: url(https://images.unsplash.com/photo-1544306094-e2dcf9479da3) no-repeat;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
.container {
    width: 32rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 46PX;
    height: 20rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .15); 
    backdrop-filter: blur(5px);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    scroll-behavior: smooth;
    
}
.column1 button{
    padding:10px;
    font-weight: bold;
    margin-top: 10px;
    
} 
@media (max-width:700px)
{
    .row2{
        flex-direction: column;
    }
    .row{
        flex-direction: column;
    }
    .card{
        position: absolute;
        bottom:20px;
    }
    .container{
        width:20rem;
        font-size: 32px;
    }
    .contact img{
        width:250px;
        height:250px;
        left:50%;
        transform: translateX(-50%);
    }
    .full:hover .side{
   
        transform: translateX(120%);
        
    }
    .circle{
        width:110px;
        height:110px;
        box-sizing: border-box;
        box-shadow: 0 0 5px white;
        background:transparent;
        border-radius: 50%;
        position: absolute;
        top:20%;
        left:10%;
    }
    .hour{
        width:3px;
        height:31px;
        background-color: black;
        position: absolute;
        left:50%;
        top:20%;
        transform: translate(-50%,-11%);
        
        
    }
    .minutes{
        width:2px;
        height:35px;
        background-color: black;
        position: absolute;
        left:50%;
        top:80%;
        transform: translate(-50%,-80%) ; 
    }
    .seconds{
        width:1px;
        height:50px;
        background-color: black;
        position: absolute;
        left:70%;
        top:50%;
        transform: translate(-50%,-50%) rotateZ(90deg) ;
    }
    .dot{
        width:10px;
        height:10px;
        border-radius: 50%;
        background-color: #db2c06;
        position: absolute;
        left:50%;
        top:50%;
        transform: translate(-50%,-50%);
    }

}
.email input{
    width: 40%;
    height: 10vh;
    position: absolute;
    left:50%;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 24px;
    transform: translateX(-50%);
    
}
.email input:hover{
    border-bottom-color:#1877f2;
}
.email{
    text-align: center;
    height: 100vh;
}
.submit{
    text-decoration: none;
    position: absolute;
    border: 1px solid black;
    width:10%;
    left:50%;
    bottom:-75%;
    transform: translateX(-50%);
    font-size:18px;
    text-align: center;
  
   
}
.answer input{
    width: 40%;
    height: 10vh;
    position: absolute;
    left:50%;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 24px;
    transform: translateX(-50%);
    margin-bottom: 50px;
    
}
