.custom{
    padding:4%;
    text-align:center;
    
}
.menu{
    width:35px;
    height:4px;
    margin: 3px 0px;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 50px;
    background-color:darksalmon;
    transform: translate(1050px,-120px);
    color:black;
}
#myUL{
    cursor: pointer;
    color: black;
    font-weight: bold;
}
#full{
   
    
}
#btn{
    margin-top: 10px;
}
body{
    
    background-image: url("https://images.pexels.com/photos/716398/pexels-photo-716398.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}
#body{
    position: relative;
    top:30px;
    color:white;
    text-decoration: underline;

}
.form-inline{
    position: relative;
    top:50px;
}
.fas{
    color:white;
    position: absolute;
    top:15px;
    left:10px;
    font-size: 20px;
    box-sizing: border-box;
    border-radius: 50%;
   
}
.fas:hover{
    box-shadow: 0 0 10px red;
}